<div class="center bottom_cta">
  <div class="card">
    <section>
      <div class="cta box-shadow link-box padding box-shadow-link">
        <h2>Like what you see?</h2>
        {% include 'collaboration.njk' %}
        <a href="/contact/">
          <button class="blue-button" role="button">Let's work together...</button>
        </a>
      </div>
    </section>
  </div>
</div>