<div class="center">
  <div style="max-width: 375px">
    <section>
      <div class="cta box-shadow link-box padding">
        <h2>Like what you see?</h2>
        <div class="image-container" style="aspect-ratio: 16 / 9;">
          <a href="/contact/">
            <img
              decoding="async"
              loading="lazy"
              src="https://www.louiechristie.com/blog/static/5e9fcc39807d7973a67fbddcc17e177d/50d7b/louie-christie-mentoring-pixelated.png"
              alt="Louie Christie sat at a desk with a woman and he is pointing at a laptop between them. Her face is blurred.">
          </a>
        </div>
        <a href="/contact/">
          <button class="blue-button" role="button">Let's work together...</button>
        </a>
      </div>
    </section>
  </div>
</div>