<div class="contact box-shadow" id="contact">
  <h2>Contact</h2>
  <div class="center">
    <ul class="icon-list">
      <li class="icon">
        <a href="mailto:hello@louiechristie.com">
          <svg style="width:24px; height:24px" viewbox="0 0 24 24">
            <title>Email icon</title>
            <path
              fill="currentColor"
              d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/>
            <metadata>
              <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:schema="http://schema.org/">
                <rdf:Description rdf:about="https://cdn.jsdelivr.net/npm/@mdi/svg@4/svg/email.svg">
                  <schema:license rdf:resource="http://scripts.sil.org/OFL"/>
                </rdf:Description>
              </rdf:RDF>
            </metadata>
          </svg><!-- no space --></a>
        Email:
        <a href="mailto:hello@louiechristie.com">
          hello@louiechristie.com</a>
      </a>
    </li>
    <li class="icon">
      <a href="tel:+447733507066">
        <svg class="icon-image" width="24" viewbox="0 0 24 24">
          <title>Voicemail icon</title>
          <path
            fill="currentColor"
            d="M18.5,15A3.5,3.5 0 0,1 15,11.5A3.5,3.5 0 0,1 18.5,8A3.5,3.5 0 0,1 22,11.5A3.5,3.5 0 0,1 18.5,15M5.5,15A3.5,3.5 0 0,1
              2,11.5A3.5,3.5 0 0,1 5.5,8A3.5,3.5 0 0,1 9,11.5A3.5,3.5 0 0,1 5.5,15M18.5,6A5.5,5.5 0 0,0 13,11.5C13,12.83 13.47,14.05
              14.26,15H9.74C10.53,14.05 11,12.83 11,11.5A5.5,5.5 0 0,0 5.5,6A5.5,5.5 0 0,0 0,11.5A5.5,5.5 0 0,0 5.5,17H18.5A5.5,5.5 0
              0,0 24,11.5A5.5,5.5 0 0,0 18.5,6Z"/>
          <metadata>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:schema="http://schema.org/">
              <rdf:Description rdf:about="https://cdn.jsdelivr.net/npm/@mdi/svg@4/svg/voicemail.svg">
                <schema:license rdf:resource="http://scripts.sil.org/OFL"/>
              </rdf:Description>
            </rdf:RDF>
          </metadata>
        </svg><!-- no space --></a>
      Voicemail:
      <a href="tel:+447733507066">
        +44 77 33 50 70 66
      </li>
    </ul>
  </div>
</div>