<div class="vr-comedy-feature box-shadow padding">
  <div class="feature-container">
    <iframe
      src="https://www.youtube.com/embed/xIT9NU-KazA?start=1068&amp;end=1141&amp;rel=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="media-descripton">
    <a href="https://www.showerofcomedy.club/vr/">Virtually Funny Comedy - VR</a>
  </div>
</div>
<div class="podcast-feature box-shadow padding">
  <div class="feature-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?si=yO4UXsJvYLV9Y1bz&amp;list=PLnMojcFwW5uLheoEdHVijE2in-fpdj2v6"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <div class="media-descripton">
    <a href="https://www.musicnatters.com">Music and Chat Podcast NSFW ⑯</a>
  </div>
</div>
<div class="memes-feature box-shadow padding">
  <div class="feature-container">
    <a href="memes/">
      <img
        src="https://i.imgflip.com/447g00.jpg"
        alt="Louie in a bubble bath. Title reads: 'I learned a valuable lesson today. Don’t eat baked beans before a bath'"/>
    </a>
  </div>
  <div class="media-descripton">
    <a href="memes/">
      Memes</a>
  </div>
</div>