<div class="vr-comedy-feature box-shadow padding">
    <div class="feature-container">
        <lite-youtube videoid="xIT9NU-KazA" videostartat="1068" params="end=1141&amp;rel=0"></lite-youtube>
    </div>
    <div class="media-descripton">
        <a href="https://www.showerofcomedy.club/vr/">Virtually Funny Comedy - VR</a>
    </div>
</div>
<div class="podcast-feature box-shadow padding">
    <div class="feature-container">
        <lite-youtube videoid="LyGNXoDR22A" playlistid="PLnMojcFwW5uLWk7DethR0QVZAr6BfTg3Q" params="rel=0"></lite-youtube>
    </div>
    <div class="media-descripton">
        <a href="https://www.musicnatters.com">Music and Chat Podcast NSFW ⑯</a>
    </div>
</div>
<div class="memes-feature box-shadow padding">
    <div class="feature-container">
        <a href="/memes/">
            <img width="342"
                 height="342"
                 src="https://i.imgflip.com/447g00.jpg"
                 alt="Louie in a bubble bath. Title reads: 'I learned a valuable lesson today. Don’t eat baked beans before a bath'">
        </a>
    </div>
    <div class="media-descripton">
        <a href="/memes/">Shorts</a>
    </div>
</div>
