<ul>
  <li>
    <strong>developing software</strong>
    to fight financial crime
  </li>
  <li>
    <strong>
      <a href="/tech/host/">hosting tech events</a>
    </strong>
    but I can't do a forced fun face
  </li>
  <li>
    <strong>user-friendly tech consultant</strong>
    on a beautiful
    <a href="https://www.slomotherapy.co.uk/">mental health app</a>
    to slow down paranoid thinking
    <sup>
      <a href="#evidence-based">[1]</a>
    </sup>, which is literally the opposite to what most apps do {% include 'homepage/footnote_evidence.njk' %}
  </li>
  <li>
    <strong>
      <a href="https://portal.g2i.co/developer/Louie-Christie/382862a0-8cf2-4904-8a1f-de603e7134b5">developing apps & websites</a>
    </strong>
    almost as fast as tech startups can go bust
  </li>
  <li>
    <strong>
      <a href="https://www.musicnatters.com">podcast host</a>
    </strong>mostly as an excuse to have a laugh with my
                                                                        mates
  </li>
  <li>
    <strong>
      <a href="https://www.youtube.com/embed/videoseries?start=138&amp;list=PLKhdPqmp9xC9pYNnlu7sn6RG5X2UfweG7&amp;rel=0">
        panellist<!-- no space --></a>
    </strong>
    on a YouTube quiz show about video games</li>
  <li>
    <strong>coaching coding</strong>
    to French students while half expecting the guillotine</li>
  <li>
    <strong>IT support</strong>
    mostly telling people to 'switch it off-and-on again'</li>
  <li>
    <strong>programming</strong>
    <a href="/blog/2021/02/19/you-computer-geeks-are-all-the-same/#cobol">mainframe</a>
    computers older and more decrepid than myself</li>
  <li>waiting tables,<strong>
      snowboarding</strong>, and dodging bears in Canada</li>
  <li>
    <strong>leading youth camps</strong>
    on Kangaroo Island</li>
  <li>pig farming in the desert</li>
</ul>