<div class="apple-quote center">
  <blockquote style="max-width: 640px;">
    Steve Jobs "believed that Apple sat at the intersection of liberal arts and technology... meaning he'd rather hire a
    great software coder who also did stand-up&nbsp;comedy."
    <cite>- <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
        alt="Apple logo"
        width="16.28"
        height="20.00"
        eleventy:widths="20"
        style="width: 16.28px; height: 20px"
        class="align-top"> Former Apple vice president
      <a href="https://www.louiechristie.com/memes/steve-jobs-rather-hire-coder-who-did-comedy/">Andy Miller, 2020</a>
    </cite>
  </blockquote>
</div>