<section class="apple-quote center">
  <blockquote style="max-width: 640px;">
    Steve Jobs "believed that Apple sat at the intersection of liberal arts and technology... meaning he'd rather hire a
    great software coder who also did stand-up&nbsp;comedy."
    <cite>-
      <a href="https://comedy.louiechristie.com/gonzo/#/portal/signup">
      <img
          src="https://upload.wikimedia.org/wikipedia/commons/1/13/Apple_Pay_Acceptance_Mark.svg"
          alt="Apple Pay"
          width="166"
          height="106"
          style="width: 55px; height: 35px; margin-bottom: -11px;"><!-- no space --></a>
      Apple former vice president
      <a href="https://www.louiechristie.com/memes/steve-jobs-rather-hire-coder-who-did-comedy/">Andy&nbsp;Miller,&nbsp;2020</a>
    </cite>
  </blockquote>
</section>