<section class="apple-quote center">
    <blockquote style="max-width: 640px;">
        <q class="with-quote-marks">Steve [Jobs'] big thing was, um, he believed that Apple sat at the <a style="text-decoration: none;
           color: initial"
    href="https://commons.wikimedia.org/wiki/File:Haight-Ashbury_signs_%28San_Francisco%29_%28TK3%29.JPG#/media/File:Haight-Ashbury_signs_(San_Francisco)_(TK3).JPG">intersection</a> of liberal arts
        and technology... meaning he'd rather hire a great software coder who also did stand-up&nbsp;comedy.</q>
        <cite>-
            Former vice president of Apple
            <br>
            <a href="https://www.louiechristie.com/memes/steve-jobs-rather-hire-coder-who-did-comedy/">Andy&nbsp;Miller,&nbsp;2020</a>
        </cite>
    </blockquote>
</section>
<section>
    <div class="center" style="gap: 12px;">
        <div>
            <a href="https://comedy.louiechristie.com/stand-up/#/portal/signup">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Apple_Pay_Acceptance_Mark.svg"
                     alt="Apple Pay"
                     width="166"
                     height="106"
                     style="width: 55px;
                            height: 35px">
            </a>
        </div>
        <div>
            <a href="https://comedy.louiechristie.com/stand-up/#/portal/signup">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Google_Pay_Acceptance_Mark.svg"
                     alt="Google Pay"
                     width="200"
                     height="106"
                     style="width: 64px;
                            height: 34px">
            </a>
        </div>
    </div>
</section>
