<div id="tech-talks" class="tech-talks">
  <div class="box-shadow padding">
    <a href="https://www.louiechristie.com/comedy/tech-event-host/" style="text-decoration: none;">
      <h2 style="margin-top: 0;">Tech Event Host</h2>
    </a>
    <div style="width: 100%; overflow: hidden; border-radius: 10px;">
      <a href="https://www.louiechristie.com/comedy/tech-event-host/">
        <img
          style="width: 100%; object-fit: cover; border-radius: 10px;"
          src="https://www.louiechristie.com/comedy/wp-content/uploads/2024/08/my-movie-4.jpg?w=320"
          alt="Louie Christie on a stage holding a microphone. A screen behind him says 'challenges'. Several people are on stage
            laughing at something. Audience of geeks in the foreground."/>
      </a>
    </div>
    <h3>
      <a style="text-decoration: none;" href="https://www.louiechristie.com/comedy/tech-event-host/#tech-talks">Tech Talks</a>
    </h3>
    <ul class="icon-list">
      <li>
        <a
          class="icon-link"
          href="https://docs.google.com/presentation/d/1-c4yEUW7dWm5JInhv7pt0Q__5s_zXK8dRx4xFOOuBoU/edit?usp=sharing">
          <i class="icon">🍓</i>
        </a>
        <a href="https://docs.google.com/presentation/d/1-c4yEUW7dWm5JInhv7pt0Q__5s_zXK8dRx4xFOOuBoU/edit?usp=sharing">Headless
          WordPress, Gatsby, and strawberry JAM (slides)</a>
      </li>
      <li>
        <a class="icon-link" href="https://louiechristie.github.io/intro-to-web-dev-course/">
          <i class="icon">🧑🏼‍💻</i>
        </a>
        <a href="https://louiechristie.github.io/intro-to-web-dev-course/">Coding Tutorials
        </a>
      </li>
      <li>
        <a class="icon-link" href="https://www.louiechristie.com/comedy/tech-event-host/">
          <i class="icon">
            ⑯
          </i>
        </a>
        <a href="https://www.louiechristie.com/comedy/tech-event-host/#tech-talks">More... [nsfw]</a>
      </li>
    </ul>
  </div>
</div>