---
layout: /layouts/homepageLayout.njk
title: Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage
description: Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage
---

<main class="home">
  <section class="grid">
    {% include 'homepage/headlines.njk' %}
    {% include 'homepage/quote.njk' %}
  </div>
</section></main>