---
layout: /layouts/homepageLayout.njk
title: Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage
description: Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage
---

<h1 class="site-description">
  Louie Christie: Adventurous, tech&nbsp;geek, underground&nbsp;comedian in my own head. 😬
</h1>
<main class="home">
  <section class="grid">
    {% include 'homepage/headlines.njk' %}
    {% include 'homepage/quote.njk' %}
  </section>
</main>