{% set currentUrl = page.url %}
<div class="center">
  <nav class="navbar navbar-expand-sm p-3 mb-4">
    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto flex-wrap">
        <li class="nav-item">
          <a class="nav-link" href="https://newcrossities.com/">quirky travel guide</a>
        </li>
      </ul>
    </div>
  </nav>