{% set currentUrl = page.url %}
<nav>
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="https://newcrossities.com/">quirky travel guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://comedy.louiechristie.com/improv/">adventure comedy</a>
    </li>
  </ul>
</nav>