---
layout: layouts/blogLayout.njk
title: Rants - Louie Learns Blog 
description: Blog about my creative technology / comedy projects and associated rantings. Unconventional thinking like sketch designs, test code & actually speak to users.
eleventyNavigation: 
  key: 'Blog'
  parent: 'Home'
  order: 3
---

<h1>{{ title | safe or metadata.title | safe }}</h1>
<p style="justify-content: pretty;">{{ description | safe or metadata.description | safe }}</p>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
