---
layout: /layouts/layout.njk
title: Louie Christie | Homepage
description: 'Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage'
eleventyNavigation:
  key: "Home"
  order: 1
---
<div class="site-description">
  <div class="site-description-formatter">
    <div class="spacer"><!-- spacer --></div>
    <div class="sentence">
      <a href="/adventure/">Adventurous,</a>
      <a href="/tech/">tech&nbsp;geek,</a>
      <a href="comedy">alternative&nbsp;comedian</a>
    </div>
    <div class="in-head">
      <span class="sketchy" style="margin-left: 5px;">in&nbsp;my&nbsp;own&nbsp;head&nbsp;<!-- no space --><a href="/memes/%F0%9F%98%AC/">😬</a>
      </span>
    </div>
  </div>
</div>

<main>
  <section class="center">
    {% include 'homepage/headlines.njk' %}
    {% include 'homepage/quote.njk' %}
  </section>
</main>