---
layout: /layouts/homepageLayout.njk
title: Louie Christie | Homepage
---

<main>
  <section class="center">
    {% include 'homepage/headlines.njk' %}
    {% include 'homepage/quote.njk' %}
  </section>
</main>