---
layout: layouts/aboutLayout.njk
title: Contact | Louie Christie
---

<div class="text-center column">
  <h1>Contact</h1>
  <div class="center">
    <div style="max-width: 490px">
      {% include 'collaboration.njk' %}
    </div>
  </div>
  <p>Hello! 👋
  </p>
  <p>I’m Louie Christie a freelance tech geek, IT consultant, app & web developer, tech event host, and underground
    comedian in my own head.
  </p>
  <p>I’m smart, talented, modest, and available for hire.</p>
  <p>Feel free to get in touch if you like what you see:</p>
  <div class="center">
    <ul class="icon-list">
      <li class="icon-link">
        <svg style="width:24px; height:24px; margin-bottom: -6px;" viewbox="0 0 24 24">
          <title>Post icon</title>
          <path
            fill="grey"
            d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/>
          <metadata>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:schema="http://schema.org/">
              <rdf:Description rdf:about="https://cdn.jsdelivr.net/npm/@mdi/svg@4/svg/email.svg">
                <schema:license rdf:resource="http://scripts.sil.org/OFL"/>
              </rdf:Description>
            </rdf:RDF>
          </metadata>
        </svg>
        <!-- no space -->
        Address: Louie Christie Ltd, 20 Wenlock Road, LONDON, United Kingdom. N1 7GU
      </li>
      <li class="icon">
        <a href="mailto:hello@louiechristie.com" style="font-weight: 500; font-size: 20px; text-decoration: none;">@</a>
        Email:
        <a href="mailto:hello@louiechristie.com">
          hello@louiechristie.com</a>
      </li>
      <li class="icon">
        <a href="tel:+447733507066">
          <svg width="24" viewbox="0 0 24 24" style="margin-bottom: -11px">
            <title>Voicemail icon</title>
            <path
              fill="currentColor"
              d="M18.5,15A3.5,3.5 0 0,1 15,11.5A3.5,3.5 0 0,1 18.5,8A3.5,3.5 0 0,1 22,11.5A3.5,3.5 0 0,1 18.5,15M5.5,15A3.5,3.5 0 0,1
                2,11.5A3.5,3.5 0 0,1 5.5,8A3.5,3.5 0 0,1 9,11.5A3.5,3.5 0 0,1 5.5,15M18.5,6A5.5,5.5 0 0,0 13,11.5C13,12.83 13.47,14.05
                14.26,15H9.74C10.53,14.05 11,12.83 11,11.5A5.5,5.5 0 0,0 5.5,6A5.5,5.5 0 0,0 0,11.5A5.5,5.5 0 0,0 5.5,17H18.5A5.5,5.5 0
                0,0 24,11.5A5.5,5.5 0 0,0 18.5,6Z"/>
            <metadata>
              <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:schema="http://schema.org/">
                <rdf:Description rdf:about="https://cdn.jsdelivr.net/npm/@mdi/svg@4/svg/voicemail.svg">
                  <schema:license rdf:resource="http://scripts.sil.org/OFL"/>
                </rdf:Description>
              </rdf:RDF>
            </metadata>
          </svg><!-- no space --></a>
        Voicemail:
        <a href="tel:+447733507066">
          +447733507066</a>
      </li>
      <li class="icon">
        <a href="tel:+447733507066">
          <svg
            style="width: 22px; height: 22px; margin-bottom: -8px;"
            viewbox="0 0 31 30"
            width="22"
            height="22"
            class="_96z7 _brandPortalIcon__whatsappLogo"
            fill="none">
            <title id="whatsapp-logo">WhatsApp logo</title>
            <path
              d="M15.565 0C7.057 0 .133 6.669.13 14.865c-.002 2.621.71 5.179 2.06 7.432L0 30l8.183-2.067a15.89 15.89 0 007.376
                1.81h.006c8.508 0 15.432-6.67 15.435-14.866.002-3.97-1.602-7.707-4.517-10.516C23.569 1.551 19.694.001 15.565 0zm0
                27.232h-.005c-2.302 0-4.56-.596-6.53-1.722l-.47-.268-4.854 1.226 1.296-4.56-.305-.467a11.983 11.983 0
                01-1.962-6.576C2.738 8.052 8.494 2.511 15.57 2.511c3.426.001 6.647 1.288 9.07 3.623s3.756 5.44 3.754 8.742c-.003
                6.813-5.758 12.356-12.83 12.356zm7.037-9.255c-.386-.185-2.282-1.084-2.636-1.209-.353-.123-.61-.187-.867.185-.256.372-.996
                1.209-1.22
                1.456-.226.248-.451.278-.837.093-.386-.186-1.629-.578-3.101-1.844-1.147-.984-1.921-2.2-2.146-2.573-.225-.371-.024-.572.169-.757.173-.165.386-.433.578-.65.192-.217.256-.372.386-.62.128-.247.064-.465-.033-.65-.097-.187-.867-2.015-1.19-2.758-.312-.724-.63-.627-.867-.639-.225-.01-.481-.013-.74-.013-.255
                0-.674.093-1.028.465-.353.372-1.35 1.27-1.35 3.098 0 1.829 1.382 3.595 1.575 3.843.193.247 2.72 4 6.589 5.61.92.381
                1.638.61 2.199.782.924.283 1.765.242 2.429.147.74-.107 2.282-.898
                2.602-1.765.322-.867.322-1.611.226-1.766-.094-.155-.352-.248-.738-.435z"
              fill="currentColor"></path>
          </svg><!-- no space --></a>
        WhatsApp:
        <a href="https://wa.me/447733507066">
          +447733507066</a>
      </li>
      <li>
        <br>
          Registered company number: 15411409
        </li>
      </ul>
    </div>
  </div>