{% set currentUrl = page.url %}
<nav>
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="/about/" {% if 'about' in currentUrl %} aria-current="page" {% endif %}>About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/" {% if 'contact' in currentUrl %} aria-current="page" {% endif %}>Contact</a>
    </li>
  </ul>
</nav>