<section id="testimonials">
  <h2>Testimonials</h2>
  <p>
    <script type="text/javascript" src="https://widget.senja.io/js/iframeResizer.min.js"></script>
    <iframe
      id="senja-collector-iframe"
      src="https://senja.io/p/louie-christie/r/f7uex0?mode=embed&nostyle=true"
      allow="camera;microphone"
      title="Senja form"
      frameborder="0"
      scrolling="no"
      width="100%"
      height="700"></iframe>
    <script type="text/javascript">
      iFrameResize({
        log: false,
        checkOrigin: false
      }, "#senja-collector-iframe");
    </script>
  </section>
</p>
<footer class="d-flex flex-column justify-content-center align-items-center pt-3 mt-4 border-top text-light bg-dark dark-mode">
  <p>© 2025 Louie Christie</p>
  <p>
    <a class="text-light" href="blog/about/">Handmade by Louie Christie</a>
  </p>
  <p>
    <a class="text-light" href="https://www.facebook.com/groups/2352226331/">
      Looking for a different Louie Christie?
    </a>
  </p>
  {% performance %}
  {% analytics %}
  <a href="https://github.com/louiechristie/louiechristie.github.io/">
    <img
      style="vertical-align: middle;"
      src="https://github.com/louiechristie/louiechristie.github.io/actions/workflows/playwright.yml/badge.svg"
      alt="Github logo"/>
  </a>
</footer>