<footer class="d-flex flex-column justify-content-center align-items-center pt-3 mt-4 border-top text-light bg-dark dark-mode">
  <p>© 2025 Louie Christie</p>
  <p>
    <a class="text-light" href="blog/about/">Handmade by Louie Christie</a>
  </p>
  <p>
    <a class="text-light" href="https://www.facebook.com/groups/2352226331/">
      Looking for a different Louie Christie?
    </a>
  </p>
  {% performance %}
  {% analytics %}
  <a href="https://github.com/louiechristie/louiechristie.github.io/">
    <img
      style="vertical-align: middle;"
      src="https://github.com/louiechristie/louiechristie.github.io/actions/workflows/playwright.yml/badge.svg"
      alt="Github logo"/>
  </a>
</footer>