<figure>
  <lite-youtube videoid="psBMnmz1G_Y" params="rel=0" posterloading="eager">
    <div class="uncodebar lite-youtube-fallback">
      <a href="https://www.youtube.com/watch?v=psBMnmz1G_Y&rel=0">
        <img
          style="width: 100%; height: auto;"
          slot="image"
          src="https://i.ytimg.com/vi/psBMnmz1G_Y/hqdefault.jpg"
          alt="Louie Christie standing at a microphone and lectern. A screen behind him says 'Uncodebar 10'">
      </a>
    </div>
  </lite-youtube>
  <figcaption>
    <small>
      <a href="https://www.youtube.com/watch?v=lqHQ-7PWZfs&list=PLKhdPqmp9xC_1DkgQ9iB3qMhTUs51-jqt&index=1">Tech talk</a>
      @ <img
        src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
        alt="Google G logo"
        width="16.28"
        height="20.00"
        eleventy:widths="20"
        style="width: 16.28px; height: 24px; margin-bottom: -7px"/> Google London, Uncodebar, 2024</small>
  </figcaption>
</figure>