{% set currentUrl = page.url %}
<header {% if currentUrl === '/' %} class="frontpage" {% endif %}>
  <nav>
    <div class="center">
      {% if currentUrl === '/' %}
        <h1 class="image-heading">
        {% endif %}
        <a href="/"><img
            class="logo"
            src="/images/handwritten_louie_christie_600x220.jpg"
            alt="Louie Christie"
            title="Louie Christie (handwritten logo)"/>
        </a>
        {% if currentUrl === '/' %}
        </h1>
      {% endif %}
    </div>
    {% if currentUrl === '/' %}
      <div class="site-description">
        <div class="site-description-formatter">
          <div class="spacer"><!-- spacer --></div>
          <div class="sentence">
            <a href="/adventure/">Adventurous,</a>
            <a href="/tech/">tech&nbsp;geek,</a>
            <a href="comedy">alternative&nbsp;comedian</a>
          </div>
          <div class="in-head">
            <span class="sketchy" style="margin-left: 5px;">in&nbsp;my&nbsp;own&nbsp;head&nbsp;<!-- no space --><a href="/memes/%F0%9F%98%AC/">😬</a>
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    {% if currentUrl !== '/' %}
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/" {% if currentUrl === '/' %} aria-current="page" {% endif %}>home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adventure/" {% if 'adventure' in currentUrl %} aria-current="page" {% endif %}>adventure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tech/" {% if 'tech' in currentUrl %} aria-current="page" {% endif %}>tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.louiechristie.com/comedy/">comedy</a>
        </li>
      </ul>
    {% endif %}
  </nav>
</header>