---
layout: layouts/adventureLayout.njk
title: Louie Christie | Adventure
description: Some of the adventures I've been on.
eleventyNavigation:
  key: "Adventure"
  order: 2
---

<main class="adventure-page">
    <h1>
        <img class="title adventure-title-image"
             width="490"
             height="84"
             src="/images/adventure.png"
             alt="Adventure">
    </h1>
    <div class="column">
        <section>
            <a class="no-underline" href="https://www.newcrossities.com/">
                <h2>Quirky Travel Guide</h2>
                <div class="box-shadow padding adventure-boxes">
                    <figure>
                        <div class="image-container">
                            <img src="/images/newcrossities-screenshot.png"
                                 alt="A map of central London with labels on it, it's a screenshot of the website Newcrossities."
                                 width="320"
                                 height="431" />
                        </div>
                        <figcaption>
                            <span class="align-middle" style="font-size: 24px">🗺️</span>
                            <span class="underline">Newcrossities</span>
                            <span>- Quirky Travel Guide to South London and beyond (2020 - 2023-ish)</span>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </section>
        <section>
            <a class="no-underline" href="/comedy/improv/">
                <h2>Adventure Comedy</h2>
                <div class="box-shadow padding adventure-boxes">
                    <figure class="image-container">
                        <img src="https://img.youtube.com/vi/awx4MErQyF8/maxresdefault.jpg"
                             alt="Man in the woods on a hill talking to camera. He is wearing a bodywarmer gilet and has long hair and beard."
                             width="301"
                             height="226" />
                        <figcaption>
                            <span class="underline">Survival with me, Gregory</span>. 2023
                        </figcaption>
                    </figure>
                </div>
            </a>
        </section>
        <section>
            <h2 class="surfing">Surfing</h2>
            <p class="date">2005</p>
            <figure>
                <div class="image-container">
                    <img src="/images/louie_christie_surfs_perrenporth_2005_fl4t07_c_scale,w_1920.jpg"
                         alt="A surfer on a wave. He's crouching, touching the wave with his hand as the wave breaks. The wave is chest high, blue-green color. There are brown-green hills in the background on the land."
                         title="Louie Christie surfing photo"
                         width="339"
                         height="254" />
                </div>
                <figcaption>
                    <sub>Photo courtesy Louie's friend 'Flat Rocks'</sub>
                </figcaption>
            </figure>
            <h3>The actually impressive thing about this photo is...</h3>
            <p>At the time I lived 4 hours drive from the surf, had a wetsuit with holes in it, didn't own a car...</p>
            <p>
                Or a
                surfboard.
            </p>
            <p>The surf around Britain doesn't get that good very often, and it's bloody cold.</p>
            <p>It's not Hawaii.</p>
            <p>
                I got to surf like this by being resourceful, tenacious, and being a computer geek with no girlfriend at the
                time.
            </p>
        </section>
        <section>
            <h2 class="bungee">Bungee Jumping</h2>
            <p class="date">1998</p>
            <figure>
                <div class="image-container">
                    <img src="/images/louie-christie-bungee-jumping_qorfqi_c_scale,w_1920.jpg"
                         alt="Louie bungee jumping upside-down"
                         title="Wedgeeeeee......"
                         width="339"
                         height="254" />
                </div>
                <figcaption>
                    <sub>Photo @ AJ Hackett, Cairns, Australia</sub>
                </figcaption>
            </figure>
            <p>I was in Cairns - the extreme sports capital of Australia.</p>
            <p>The day before I'd been whitewater rafting.</p>
            <p>The day after I did a skydive.</p>
            <p>People ask 'which was scarier, skydive or bungee jump?'</p>
            <p>Bungee jump by far.</p>
            <p>
                In a skydive it's all so fast and you're up up-in-the-air looking down at the clouds. It's kind of
                surreal.
            </p>
            <p>
                But the bungee jump felt very real as I climbed the tower, slowly, floor by floor, thinking: 'I'm going to jump off this
                bloody thing.'
            </p>
            <p>
                As I jumped, I saw the blue horizon above the trees in the forest, and the world paused for a moment, like when a
                cartoon coyote runs off a cliff...
            </p>
            <hr />
            <p class="fast">
                Then the ground rushed towards me, my heart pumped, a primal scream came out of my chest that I don't
                remember making, and my life literally flashed before my eyes.
            </p>
            <hr />
            <p>...It felt amazing after I'd survived the first bounce.</p>
            <p>
                And I boinged around merrily laughing until they eventually lowered me into the rubber dinghy in the lake
                below.
            </p>
            <p>I was so pumped on adrenaline that that evening I got drunk on about half a schooner of beer.</p>
            <p>I think I've been boinging around merrily in my head ever since.</p>
            <p>
                I was 19 years old at the time, travelling the world, between school and university, which is what adventurous
                British kids do if their parents are doctors, lawyers or accountants.
            </p>
            <p>
                The idea is you have all the adventure in that one year and then settle down to a boring office job forever, and give
                up on life.
            </p>
            <p>It's not a mentality that I ever much subscribed to. But that's another story...</p>
        </section>
        <section>
            <h2 class="first-aid">First Aid At Work</h2>
            <p class="date">2019</p>
            <figure>
                <div class="image-container">
                    <img src="/images/recussi-annie.jpeg"
                         alt="Louie Christie laying next to a first aid mannequin, Louie is smiling."
                         width="339"
                         height="254" />
                </div>
                <figcaption>
                    <sub>Photo courtesy of
                        <a href="./../memes/resusci-annie-the-musical/">Recussi Annie</a>
                    </sub>
                </figcaption>
            </figure>
            <p>I saved the manikin's life. Now we're dating.</p>
        </section>
    </div>
</main>
