---
layout: layouts/layout.njk
title: About | Louie Christie 
---

<section class="about" id="about">
    <div class="center">
        <figure class="hero">
            <a href="/contact/">
                <div class="image-container">
                    <img decoding="async"
                         loading="lazy"
                         src="/images/wind-swept.png"
                         alt="Louie Christie on a wind swept pebble beach. His hair is horizontal blowing in the wind. He's wearing a warm North Face jacket and the sea has white horses. It's not Hawaii."
                         width="339"
                         height="191" />
                </div>
            </a>
            <figcaption>
                <sub>The Great British seaside, 2026.
                    <br>
                One of my wilder adventures.</sub>
            </figcaption>
        </figure>
    </div>
    <h1>About</h1>
    <div class="bio">
        <p class="lead-line lead-line-adventure">Hi, I'm Louie Christie. I've had a varied portfolio career including:</p>
        {% include "homepage/jobs.njk" %}
        <p class="lead-line lead-line-coding">I have a masters degree in human-centred computer systems.</p>
        <p>No, I'm not sure what that means either.</p>
        <p>Think it's something to do with making computers user-friendly.</p>
        <p>And goodness knows, we could all do with a bit of that.</p>
        <p class="lead-line lead-line-comedy">When I'm not coding...</p>
        <p>
            I can be found in London performing questionable quality
            <strong>
                <a href="https://www.louiechristie.com/comedy/">stand-up comedy</a><!-- no space --></strong>.
                </p>
                <p>
                    In small dark basements in rooms above pubs. (And
                    <a href="https://comedy.louiechristie.com/vr-comedy/">virtual reality</a>.)
                </p>
                <p class="lead-line">Want to hire me?</p>
                <p>
                    <a href="/contact/">Contact me.</a>
                </p>
            </div>
        </section>
