---
layout: layouts/aboutLayout.njk
title: About Me | Louie Christie 
---

<section class="about" id="about">
  <h2>
    About Me
  </h2>
  <div class="bio">
    <p class="lead-line lead-line-adventure">Hi, I'm Louie Christie. I've had a varied career including:
    </p>
    {% include 'homepage/jobs.njk' %}
    <p class="lead-line lead-line-coding">I have a masters degree in human-centred computer systems.</p>
    <p>No, I'm not sure what that means either.</p>
    <p>Think it's something to do with making computers user-friendly.</p>
    <p>And goodness knows, we could all do with a bit of that.</p>
    <p class="lead-line lead-line-comedy">When I'm not coding...</p>
    <p>I can be found in London performing questionable quality
      <strong>
        <a href="https://www.louiechristie.com/comedy/">stand-up comedy</a><!-- no space --></strong>.</p>
    <p>In small dark basements in rooms above pubs. (And
      <a href="https://www.showerofcomedy.club/workshops/">virtual reality</a>.)</p>
    <p class="lead-line">Want to hire me?</p>
    <p>
      <a href="/contact/">Contact me.</a>
    </p>
  </div>
</section>