/* Adventure page */

* {
  box-sizing: border-box;
}

section {
  margin-bottom: 1em;
}

.adventure-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adventure-title-image {
  width: 300px;
  height: auto;
}

.adventure-boxes {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media all and (min-width: 490px) {
  h1 {
    font-size: 70px;
  }

  .adventure-title-image {
    width: 490px;
    height: auto;
  }
}

h2 {
  font-size: 30px;
  margin: 0;
}

h2.adventure {
  padding: 10px;
}

@media all and (min-width: 960px) {
  h2 {
    font-size: 40px;
  }
}

h2 {
  color: var(--adventure-color);
}

h2.bungee {
  color: var(--tertiary-color);
}

h2.first-aid {
  color: var(--complementary-color);
}

.date {
  margin-top: 0;
  text-align: center;
  font-weight: 600;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  text-align: left;
}

blockquote {
  padding: 0;
  margin: 20px 0;

  border: none;
  box-shadow: none;
  border-radius: 0;
}

@media all and (min-width: 490px) {
  blockquote {
    padding: 0;
  }
}

figcaption p {
  margin-right: 10px;
  margin-left: 10px;
  line-height: 2em;
}

figcaption p sub {
  display: block;
  text-align: right;
  margin-bottom: 3em;
}

.column {
  max-width: 375px;
}

.fast {
  transform: scale(1, 0.92);
  /* W3C */
}

.middle {
  text-decoration: none;
}

/* End adventure page */