/* Adventure page */
:root {
  /* Colors */
  --main-color: #0e64b5;
  --analogous-color: #0e11b5;
  --complementary-color: #b50e11;
  --tertiary-color: #008400;
  --less-saturated-color: #070707;
  --monochromacy-color: #3b3b3b;
  --black-color: #000000;

  --dark-grey-color: var(--monochromacy-color);
  --grey-color: var(--less-saturated-color);

  --link-color: var(--dark-grey-color);
  --link-visited-color: var(--dark-grey-color);
  --nav-color: var(--dark-grey-color);
  --heading-color: var(--dark-grey-color);

  --adventure-color: var(--main-color);
  --developer-color: var(--tertiary-color);
  --comedy-color: var(--complementary-color);

  /* Breakpoints */
  --extra-small: 320px;
  --small: 490px;
  --medium: 1024px;
  --large: 1280px;
  --extra-large: 1920px;
}

h1 {
  font-size: 40px;
}

@media all and (min-width: 490px) {
  h1 {
    font-size: 70px;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 135px;
  }
}

h2 {
  font-size: 30px;
  margin: 0;
}

@media all and (min-width: 960px) {
  h2 {
    font-size: 40px;
  }
}

@media all and (min-width: 960px) {
  h2 {
    min-height: 3em;
  }
}

h2.surfing {
  color: var(--adventure-color);
}

h2.bungee {
  color: var(--tertiary-color);
}

h2.first-aid {
  color: var(--complementary-color);
}

.center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.column {
  margin: 10px;
  padding: 10px;
}

@media all and (min-width: 490px) {
  .box-shadow {
    padding: 30px;
  }
}

.date {
  margin-top: 0;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption p {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 2em;
}

figcaption p sub {
  display: block;
  text-align: right;
  margin-bottom: 3em;
}

.adventure-page .instagram-media {
  max-width: 100% !important;
}

/* End adventure page */
