header {
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
}

.image-heading {
  margin-block-end: 0;
  margin-block-start: 0;
}

.logo {
  width: 150px;
  height: auto;
}

@media all and (min-width: 1024px) {
  .logo {
    width: 300px;
  }
}

nav {
  display: grid;
  align-items: center;
  justify-items: center;
}

nav:nth-of-type(2) {
  font-size: 0.9em;
}

nav:nth-of-type(3) {
  font-size: 0.85em;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav li {
  display: inline;
  margin: 2px;
  line-height: 1.8rem;
}

.nav-link {
  margin-left: 6px;
  margin-right: 6px;
}

.experiment-item {
  margin-left: 6px;
  margin-right: 12px;
}

[aria-current] {
  font-weight: bold;
}


.icon-link {
  text-decoration: none;
  /* padding-left: 0; */
}

.icon-emoji {
  font-size: 24px;
}

.icon {
  margin-right: 12px;
  font-style: normal;
}

.icon svg,
.icon-image {
  position: relative;
  width: 24px;
  height: 24px;
  top: -4px;
}

.align-text-bottom {
  position: relative;
  top: 3px;
}

.align-middle {
  vertical-align: baseline;
}

/* Nav */
.nav {
  display: flex;
  gap: .5em 1em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav a[href][aria-current="page"] {
  text-decoration: underline;
}