.logo {
  width: 150px;
  height: auto
}

@media all and (min-width: 1024px) {
  .logo {
    width: 300px;
  }
}

nav {
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid grey;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

nav li {
  display: inline;
  margin: 2px;
  line-height: 2em;
}

[aria-current] {
  font-weight: bold;
}


.icon-link {
  text-decoration: none;
  /* padding-left: 0; */
}

.icon-emoji {
  font-size: 24px;
}

.icon {
  margin-right: 12px;
  font-style: normal;
}

.icon svg,
.icon-image {
  position: relative;
  width: 24px;
  height: 24px;
  top: -4px;
}

.align-text-bottom {
  position: relative;
  top: 3px;
}

.align-middle {
  vertical-align: baseline;
}