/* Utility */

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

:root {
  /* Colors */
  --main-color: #0e64b5;
  --analogous-color: #0e11b5;
  --complementary-color: #b50e11;
  --triadic-color: #64b50e;
  --less-saturated-color: #616263;
  --monochromacy-color: #3b3b3b;
  --black-color: #000000;

  --dark-grey-color: var(--monochromacy-color);
  --grey-color: var(--less-saturated-color);

  --link-color: var(--dark-grey-color);
  --link-visited-color: var(--grey-color);
  --nav-color: var(--dark-grey-color);
  --heading-color: var(--dark-grey-color);

  --adventure-color: var(--main-color);
  --developer-color: var(--triadic-color);
  --comedy-color: var(--complementary-color);

  /* Breakpoints */
  --extra-small: 0px;
  --small: 600px;
  --medium: 960px;
  --large: 1280px;
  --extra-large: 1920px;
}

html {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;

  /* For development / testing */
  /* max-height: 568px; */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1); */
  /* border-radius: 5px; */
  /* overflow: auto;  */
}
body.homepage {
  max-width: 320px;
  padding: 0px;
}
@media all and (min-width: 960px) {
  body,
  body.homepage {
    max-width: 960px;
  }
}

a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: var(--heading-color);
  text-align: center;
}

nav {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
}

nav h1,
nav a,
nav a:visited {
  color: var(--nav-color);
}

h1 {
  font-weight: bold;
  font-size: 41px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 14px;
  letter-spacing: 1px;
}
@media all and (min-width: 960px) {
  h1 {
    font-size: 125px;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }
}

h2 {
  font-size: 19px;
  text-transform: uppercase;
}

@media all and (min-width: 960px) {
  h2 {
    font-size: 2em;
  }
  nav h2 {
    font-size: 19px;
  }
}

.headlines {
  margin-bottom: 2em;
}
@media all and (min-width: 960px) {
  .headlines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.headline h2 {
  font-size: 28px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.adventure h2,
.adventure a,
.adventure a:visited {
  color: var(--black-color);
  color: var(--adventure-color);
}

.bookend {
  position: relative;
  top: calc(0.15em / 3);
  font-size: 1.15em;
}
.adventure a {
  text-decoration: none;
}

.adventure a .middle {
  text-decoration: underline;
}

.developer h2,
.developer a,
.developer a:visited {
  font-family: monospace, "Roboto Mono";
  font-weight: bold;
  text-transform: lowercase;
  color: var(--developer-color);
}

.comedy h2,
.comedy a,
.comedy a:visited {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--comedy-color);
}

.labs {
  margin-top: 2em;
  text-align: right;
  list-style: none;
}

.memes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.label {
  text-transform: none;
}

li {
  padding-right: 2em;
  line-height: 1.8em;
}

img {
  width: 100%;
  object-fit: cover;
}

.developer img {
  object-position: 0 38%;
}

@media all and (min-width: 960px) {
  .headline {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
  }
}

.headline img {
  max-width: 320px;
  max-height: 100px;
}
@media all and (min-width: 960px) {
  .headline img {
    max-height: calc(80px * 2);
  }
}

@media all and (min-width: 960px) {
  .headline {
    max-height: none;
  }
}

@media all and (min-width: 960px) {
  .links {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 960px) {
  .link {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

.telephone-number {
  font-family: Courier, monospace;
}

@media all and (min-width: 960px) {
  figure {
    display: flex;
    justify-content: space-around;
  }

  figure img {
    max-width: 50%;
    flex: 1;
  }

  figcaption {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  figcaption p {
    flex: 0 0 0;
  }
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container-4x3 {
  padding-top: 75%;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 10px 2em 10px;
}

blockquote,
cite {
  font-size: 1.2em;
  line-height: 1.5em;
}
blockquote {
  max-width: 640px;
}
cite {
  width: 100%;
  font-size: 1em;
}

@media all and (min-width: 960px) {
  .quote {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
cite {
  display: block;
  font-style: normal;
  text-align: right;
}

.cta {
  margin-top: 2em;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

footer {
  margin-top: 2em;
  border-top: solid 1px #eff0f1;
  font-size: 0.8rem;
}
@media all and (min-width: 960px) {
  .homepage footer {
    display: flex;
    justify-content: space-around;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

footer p {
  text-align: center;
}

.homepage footer p {
  flex-basis: 30%;
}

footer p,
footer a,
footer a:visited {
  color: var(--grey-color);
}
