* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  --main-color: #0e64b5;
  --analogous-color: #0e11b5;
  --complementary-color: #b50e11;
  --less-saturated-color: #616263;
  --monochromacy-color: #3b3b3b;
  --black-color: #000000;

  --dark-grey-color: var(--monochromacy-color);
  --grey-color: var(--less-saturated-color);

  --adventure-color: var(--analogous-color);
  --developer-color: var(--main-color);
  --comedy-color: var(--complementary-color);

  --extra-small: 0px;
  --small: 600px;
  --medium: 960px;
  --large: 1280px;
  --extra-large: 1920px;
}

html {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  max-width: 320px;
  max-height: 568px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: auto;
}
@media screen and (min-width: 960px) {
  body {
    max-width: 960px;
  }
}

a {
  color: var(--dark-grey-color);
}
a:visited {
  color: var(--grey-color);
}

nav a,
nav a:visited {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grey-color);
  text-align: center;
}

header a {
  text-decoration: none;
}

h1 {
  color: var(--monochromacy-color);
  font-size: 39px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 14px;
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 100px;
    margin: 0.67em 0;
  }
}

h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin: 0.67em 0;
  font-weight: 600;
}

.headlines {
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .headlines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.adventure h2,
.adventure a,
.adventure a:visited {
  color: var(--adventure-color);
}

.developer h2,
.developer a,
.developer a:visited {
  color: var(--developer-color);
}

.comedy h2,
.comedy a,
.comedy a:visited {
  color: var(--comedy-color);
}

li {
  list-style: none;
  padding-right: 2em;
}

img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 960px) {
  .headline {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
  }
}

.headline img {
  max-height: 80px;
}
@media screen and (min-width: 960px) {
  .headline img {
    max-height: calc(80px * 2);
  }
}

@media screen and (min-width: 960px) {
  .headline {
    max-height: none;
  }
}

@media screen and (min-width: 960px) {
  .links {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .link {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  font-size: 0.8rem;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

footer p {
  text-align: center;
}

footer p,
footer a,
footer a:visited {
  color: var(--grey-color);
}
