/* Utility */
.hidden {
  display: none;
}

:root {
  /* Colors */
  --main-color: #0e64b5;
  --analogous-color: #0e11b5;
  --complementary-color: #b50e11;
  --tertiary-color: #008400;
  --less-saturated-color: #070707;
  --monochromacy-color: #3b3b3b;
  --black-color: #000000;

  --dark-grey-color: var(--monochromacy-color);
  --grey-color: var(--less-saturated-color);

  --link-color: var(--dark-grey-color);
  --link-visited-color: var(--dark-grey-color);
  --nav-color: var(--dark-grey-color);
  --heading-color: var(--dark-grey-color);

  --adventure-color: var(--main-color);
  --developer-color: var(--tertiary-color);
  --comedy-color: var(--complementary-color);

  /* Breakpoints */
  --extra-small: 0px;
  --small: 600px;
  --medium: 960px;
  --large: 1280px;
  --extra-large: 1920px;
}

html {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  /* For development / testing */
  /* max-height: 568px; */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1); */
  /* border-radius: 5px; */
  /* overflow: auto;  */
}
body.homepage {
  width: initial;
  max-width: 320px;
  padding: 0px;
}
@media all and (min-width: 960px) {
  body,
  body.homepage {
    max-width: 960px;
  }
}

a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--heading-color);
  text-align: center;
}

p {
  margin: 10px;
}

nav {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
  color: var(--heading-color);
  /* text-transform: uppercase; */
  /* border-bottom: 2px solid black; */
}

nav h1,
nav a,
nav a:visited {
  color: var(--nav-color);
}

header {
  margin-bottom: 1em;
}

@media all and (min-width: 960px) {
  header {
    margin-bottom: 3em;
  }
}

h1 {
  font-weight: bold;
  font-size: 64px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  word-break: break-word;
}

@media all and (min-width: 960px) {
  h1 {
    font-size: 125px;
  }
}

h2 {
  margin-top: 1.4em;
  font-size: 28px;
  text-transform: uppercase;
  word-break: break-word;
}

@media all and (min-width: 960px) {
  h2 {
    font-size: 2em;
  }

  nav h2 {
    font-size: 19px;
    /* font-weight: bold; */
  }
}

@media all and (min-width: 960px) {
  .site-description {
    font-size: 1.2em;
  }
}

.headlines {
  margin-top: 2em;
  margin-bottom: 2em;
}
@media all and (min-width: 960px) {
  .headlines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.headline {
  flex: 1;
}

.headline h2 {
  font-size: 28px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.adventure h2,
.adventure a,
.adventure a:visited {
  color: var(--black-color);
  color: var(--adventure-color);
}

.bookend {
  position: relative;
  top: calc(0.15em / 3);
  font-size: 1.15em;
}
.adventure a {
  text-decoration: none;
}

.adventure a .middle {
  text-decoration: underline;
}

.developer {
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.developer h2,
.developer a,
.developer a:visited {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: var(--developer-color);
  text-decoration: underline;
  text-align: center;
}

.comedy h2,
.comedy a,
.comedy a:visited {
  font-weight: bold;
  color: var(--comedy-color);
}

.memes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.label {
  text-transform: none;
}

.icon-list {
  list-style: none;
  padding-inline-start: 6px;
}

.icon-link {
  text-decoration: none;
}

.icon {
  position: relative;
  margin-right: 10px;
  font-style: normal;
}

.icon-image {
  width: 21px;
}

.icon-list-note {
  display: block;
  padding-left: 40px;
}

li {
  margin: 8px;
  line-height: 32px;
  padding-right: 2em;
  /* line-height: 1.8em; */
}

@media all and (min-width: 960px) {
  .headline {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    max-height: none;
  }
}

.headline img {
  width: 100%;
  object-fit: cover;
  max-width: 320px;
  max-height: 100px;
}

.developer img {
  object-position: 0 38%;
}

@media all and (min-width: 960px) {
  .headline img {
    max-height: calc(80px * 2);
  }
}

@media all and (min-width: 960px) {
  .links {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 960px) {
  .links > section {
    flex: 1;
  }
}

.telephone-number {
  font-family: "Courier New", Courier, monospace;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container-4x3 {
  padding-top: 75%;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

figure {
  margin: 0;
}
@media all and (min-width: 960px) {
  figure {
    margin: initial;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 10px 2em 10px;
}

blockquote,
cite {
  font-size: 1.2em;
  line-height: 1.5em;
}
blockquote {
  max-width: 640px;
}
cite {
  width: 100%;
  font-size: 1em;
}

@media all and (min-width: 960px) {
  .quote {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
cite {
  display: block;
  font-style: normal;
  text-align: right;
}

.cta {
  margin: 2em;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

footer {
  margin-top: 2em;
  line-height: 2em;
  font-size: 0.9em;
  border-top: solid 1px #eff0f1;
}
@media all and (min-width: 960px) {
  .homepage footer {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

footer p {
  text-align: center;
}

@media all and (min-width: 960px) {
  .homepage > footer p {
    flex: 1;
  }
}

footer p,
footer a,
footer a:visited {
  color: var(--grey-color);
}

.alt-text {
  font-weight: normal;
}
