---
layout: layouts/techLayout.njk
title: Tech | Louie Christie 
---

<main class="center">
  <h1>Tech</h1>
  <div style="max-width: 1600px">
    <a href="/images/banner-2025-04-28-1650.excalidraw.svg"><img
        src="/images/banner-2025-04-28-1650.excalidraw.svg"
        alt="sketch of Louie's career, mostly front-end but some back-end software development. And explaining technology."
        style="width: 100%; height: auto;"/>
    </a>
  </div>
  <div class="column">
    <div>
      <p>
        I wear many tech hats. I call myself an IT consultant, freelance tech geek, app & web developer and
                occasional
        <a href="/tech/host/">
          tech event host</a>.
      </p>
      <p>I normally work at the intersection of computers and people (or psychology). That could mean computer programming the
        the front-end of an app, consulting on designs of tech products, explaining technology, or any number of other things.
      </p>
      <p>
        On graduation I picked up my masters degree in Human-Centred Computer Systems from Richard Attenborough who was the
        honorary chancellor of University of Sussex at the time.</p>
      <p>Since then I have worked for companies like American Express, DK (Part of Penguin Books), Kings College London. Also
        a few agencies and start-ups that were possibly more interesting but you won't have heard of.</p>
      <div class="center">
        <div class="company-logos">
          <div><img
              width="85"
              alt="American Express Logo"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/512px-American_Express_logo_%282018%29.svg.png?20191022102801"/></div>
          <div><img
              width="100"
              alt="DK (2020)"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/DK_%282020%29.svg/512px-DK_%282020%29.svg.png?20200211094748"
              style="width: 100px; height: auto; padding-top: 10px;"/></div>
          <div style="color:rgb(112, 112, 112); text-transform: uppercase; Roboto, Arial, Helvetica, sans-serif; font-weight: bold;
              display: grid; justify-content: center; align-items: center; text-align: center; font-size: 17px">
            startups &amp; digital agencies</div>
        </div>
      </div>
      <p>More about my career:</p>
      <ul class="icon-list colorized">
        {% include 'socials/linkedin.njk' %}
      </ul>
    </div>
  </div>
  <div class="center">
    <div style="max-width: 375px">
      {% include 'homepage/bottom_cta.njk' %}
    </div>
  </div>
</main