---
eleventyNavigation:
  key: "Comedy"
  url: https://comedy.louiechristie.com/
  order: 4
---

<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <link rel="canonical" href="https://www.louiechristie.com/comedy" />
        <meta charset="UTF-8">
        <meta http-equiv="refresh"
              content="1;url=https://www.louiechristie.com/comedy">
        <script type="text/javascript">window.location.href = "https://comedy.louiechristie.com"</script>
        <title>Page Redirection</title>
        <meta name="monetization" content="$ilp.gatehub.net/484331722">
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow the <a href='https://comedy.louiechristie.com'>link to
    Louie Christie Comedy</a>
</body>
</html>
