---
layout: layouts/layout.njk
title: Page Redirection to Comedy
canonical: https://www.louiechristie.com/comedy
eleventyNavigation:
  key: "Comedy"
  url: https://comedy.louiechristie.com/
  order: 4
---

{% block customHeadExtras %}
    <script type="text/javascript">window.location.href = "https://comedy.louiechristie.com"</script>
{% endblock customHeadExtras %}
If you are not redirected automatically, follow the <a href='https://comedy.louiechristie.com'>link to
Louie Christie Comedy</a>
