---
layout: layouts/techLayout.njk
title: Tech | Louie Christie 
eleventyNavigation:
  key: "Tech"
  order: 3
---

<main class="center">
    <h1>Tech</h1>
    <div class="banner">
        <a href="/images/banner.svg">
            <img src="/images/banner.svg"
                 alt="sketch of Louie's career, mostly front-end but some back-end software development. And explaining technology."
                 style="width: 100%;
                        height: auto" />
        </a>
    </div>
    <div class="column">
        <div>
            <p>
                Like a lot of IT consultants I work from home, freelance - but I'd come into an office for the right organisation.
            </p>
            <p>
                I normally work at the intersection of computers and people. That could
                mean:
            </p>
            <ul style="line-height: 1.5rem">
                <li>
                    <a href="https://github.com/louiechristie">computer programming</a>
                    an app or website (the "front-end" of the pantomime horse)
                </li>
                <li>making tech products more user friendly through actually talking to users</li>
                <li>explaining technology and collaborating with business people (and whoever else needs in)</li>
                <li>demoing technology to customers</li>
                <li>
                    <a href="/tech/host/">hosting tech conferences</a>, coaching coding,
                    <a href="/intro-to-web-dev-course/">making tutorials</a>
                </li>
                <li>
                    making prototypes, minimum viable products,
                    <a href="experiments">experiments</a>, and mad inventions
                </li>
                <li>any number of other things...</li>
            </ul>
            <div class="box-shadow padding box-shadow-link margin-vertical"
                 style="margin-top: 2rem;
                        margin-bottom: 2rem">
                <a href="./experiments/" style="text-decoration: none;">
                    <h3 class="sketchy">Mad Inventions</h3>
                </a>
                {% include "tech/experiments-nav.njk" %}
                <a href="./experiments/" style="text-decoration: none;">
                    <h3 class="sketchy">& experiments</h3>
                </a>
            </div>
            <p>
                I wear many tech hats. I call myself a tech geek for hire, tech start-up jack-of-all-trades dogsbody, IT consultant, app
                & web developer,
                <a href="/memes/actually-agile-development/">actually agile</a>
                <a href="./offer/">software engineer</a>, human-centred computing consultant, and occasional
                <a href="/tech/host/">tech event host</a>.
            </p>
            <div class="center">
                <div class="card box-shadow padding box-shadow-link margin-vertical">
                    <figure>
                        <a href="/tech/host/">
                            <div class="image-container">
                                <img src="https://i.ytimg.com/vi/psBMnmz1G_Y/hqdefault.jpg"
                                     alt="Louie Christie standing at a microphone and lectern. A screen behind him says 'Uncodebar 10'"
                                     title="At Google London HQ, 2023">
                            </div>
                        </a>
                        <a href="/tech/host/">
                            <figcaption>
                                <small>
                                    Tech talk @
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
                                         alt="Google G logo"
                                         width="16.28"
                                         height="20.00"
                                         eleventy:widths="20"
                                         style="width: 16.28px;
                                                height: 24px;
                                                margin-bottom: -7px" />
                                Google London, Uncodebar, 2024</small>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <p>
                On graduation I picked up my masters degree in Human-Centred Computer Systems from Richard Attenborough who was the
                honorary chancellor of University of Sussex at the time.
            </p>
            <p>
                Since then I've worked for start-ups, digital agencies, and universities. Plus a few brands you've probably heard of
                like American Express, DK<a href="" class="myDIV">,</a>
                <span id="oxford-comma" class="hide">(who loved an Oxford comma)</span>
                and Penguin Books. Feel free to
                <a href="/contact/">get in touch</a>
                if you like what you see.
            </p>
            <div class="center">
                <div class="company-logos">
                    <div>
                        <img width="85"
                             alt="American Express Logo"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/512px-American_Express_logo_%282018%29.svg.png?20191022102801" />
                    </div>
                    <div>
                        <img width="100"
                             alt="DK (2020)"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/DK_%282020%29.svg/512px-DK_%282020%29.svg.png?20200211094748"
                             style="width: 100px;
                                    height: auto;
                                    padding-top: 10px" />
                    </div>
                    <div style="color:rgb(112, 112, 112);
                                text-transform: uppercase;
                                Roboto, Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                font-size: 17px">startups, digital agencies &amp; R&D</div>
                </div>
            </div>
            <p>
                <a href="/about/">More about me.</a>
            </p>
        </div>
        {% include "homepage/bottom_cta.njk" %}
        <a href="./offer/" class="center">free book offer</a>
    </div>
</main>
