{% set currentUrl = page.url %}
<div class="center">
  <nav>
    <div>
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="/blog/">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.musicnatters.com/">podcasts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/testimonials/" {% if 'testimonials' in currentUrl %} aria-current="page" {% endif %}>testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/socials/" {% if 'socials' in currentUrl %} aria-current="page" {% endif %}>socials</a>
        </li>
      </ul>
    </div>
  </nav>
</div>