---
layout: layouts/techLayout.njk
title: Free Book Offer | Louie Christie 
---

<main class="column center">
  <h1>Free Book Offer</h1>
  <p>
    "The Mythical Man Month" by Frederick P. Brooks, Jr, is a book I'd recommend on
    <strong>software engineering</strong>.
    <a href="https://web.eecs.umich.edu/~weimerw/2018-481/readings/mythical-man-month.pdf">Chapter one "The Tar Pit"</a>
    was my first seminar reading for my BSc in Computer Science degree at the University of Exeter:
  </p>
  <p>The book is just as relevant today as it was then, if not more so. Lessons from 1970's IBM technology projects -
    mistakes that people are
    <em>still</em>
    making today. Meanwhile the book sits dusty on library bookshelves not being read. 😅
  </p>
  <center>
    <figure>
      <embed
        src="https://web.eecs.umich.edu/~weimerw/2018-481/readings/mythical-man-month.pdf"
        width="300"
        height="500"
        type="application/pdf">
        <figcaption>
          <center>
            <sub>
              <a href="https://web.eecs.umich.edu/~weimerw/2018-481/readings/mythical-man-month.pdf">"The Tar Pit" - chapter one</a>
              of "The Mythical Man Month" by Frederick P. Brooks, Jr (1975)</sub>
          </center>
        </figcaption>
      </figure>
    </center>
    <p>To correct this I'm offering a free copy of "The Mythical Man Month" book for anyone interested in working with me.</p>
    <p>
      Just
      <a href="/contact/">send me an email or WhatsApp message.</a>
    </p>
    <center>
      <p>
        <a href="/contact/" style="text-decoration: none;">
          🎉🤓</a>
      </p>
    </p>
  </center>
</main>