---
layout: layouts/techLayout.njk
title: Tech Event Host | Louie Christie
canonical: https://www.louiechristie.com/tech/host/
eleventyNavigation:
  key: "Host"
  parent: "Tech"
  url: https://comedy.louiechristie.com/tech-event-host/
  order: 2
---

{% block customHeadExtras %}
    <script type="text/javascript">window.location.href = "https://comedy.louiechristie.com/tech-event-host/"</script>
{% endblock customHeadExtras %}
If you are not redirected automatically, follow the <a href='https://comedy.louiechristie.com/tech-event-host/'>link to
Louie Christie Tech Event Host</a>.
