---
layout: layouts/techLayout.njk
title: Tech Event Host | Louie Christie
eleventyNavigation:
  key: "Host"
  parent: "Tech"
  order: 2
---

<main class="column">
  <a href="https://www.louiechristie.com/comedy/tech-event-host/" style="text-decoration: none;">
    <h1>Tech Event Host</h1>
  </a>
  <p>I sometimes give tech talks, and host tech events such as
    <a href="https://thirteen.barcamplondon.org/">BarCamp London 13</a>.</p>
  <div class="column">
    <figure>
      <lite-youtube
        videoid="lqHQ-7PWZfs"
        playlistid="PLKhdPqmp9xC_1DkgQ9iB3qMhTUs51-jqt"
        params="rel=0&autoplay=1"
        posterloading="eager"
        autoload>
        <div class="uncodebar lite-youtube-fallback">
          <a href="https://www.youtube.com/watch?v=lqHQ-7PWZfs&list=PLKhdPqmp9xC_1DkgQ9iB3qMhTUs51-jqt&index=1">
            <img
              style="width: 100%; height: auto;"
              slot="image"
              src="https://i.ytimg.com/vi/psBMnmz1G_Y/hqdefault.jpg"
              alt="Louie Christie standing at a microphone and lectern. A screen behind him says 'Uncodebar 10'">
          </a>
        </div>
      </lite-youtube>
      <figcaption>
        <sub>
          Tech talk @ <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
            alt="Google G logo"
            width="16.28"
            height="20.00"
            eleventy:widths="20"
            style="width: 16.28px; height: 24px; margin-bottom: -7px"/> Google London, Uncodebar, 2024
          <div style="text-align: left;">
            Notes:
            <ol>
              <li>
                Uncodebar is like an improvised TED conference, but with more Warhammer talks.
              </li>
              <li>Thanks to
                <a href="https://codebar.io/">Codebar</a>, Google, and thanks to Gabe Greenberg at
                <a href="https://www.g2i.co/about">G2i</a>
                for recommending to me the academic paper I was talking
                about: <img
                  style="margin-bottom: -3px"
                  width="16"
                  alt="Logo of Microsoft Corporation"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/512px-Microsoft_logo.svg.png?20210729021049">
                <a href="https://doi.org/10.1145/3368089.3409712">Microsoft Research / North Carolina State University - Does stress
                  impact technical interview performance?</a>
              </li>
            </ol>
          </div>
        </sub>
      </figcaption>
    </figure>
  </div>
  
  <ul class="icon-list">
    <li>
      <a class="icon-link" href="https://www.louiechristie.com/comedy/tech-event-host/">
        <i class="icon">
          ⑯
        </i>
      </a>
      <a href="https://www.louiechristie.com/comedy/tech-event-host/#tech-talks"><strong>Tech comedy event host... [nsfw]</strong></a>
    </li>
    <li>
      <a
        class="icon-link"
        href="https://docs.google.com/presentation/d/1-c4yEUW7dWm5JInhv7pt0Q__5s_zXK8dRx4xFOOuBoU/edit?usp=sharing">
        <i class="icon">🍓</i>
      </a>
      <a href="https://docs.google.com/presentation/d/1-c4yEUW7dWm5JInhv7pt0Q__5s_zXK8dRx4xFOOuBoU/edit?usp=sharing">Slides:
        Headless WordPress, Gatsby, and strawberry JAM</a>
    </li>
    <li>
      <a class="icon-link" href="https://louiechristie.github.io/intro-to-web-dev-course/">
        <i class="icon">🧑🏼‍💻</i>
      </a>
      <a href="https://louiechristie.github.io/intro-to-web-dev-course/">Coding Tutorials
      </a>
    </li>
    
  </ul>
</main>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
  defer="defer"
  crossorigin="crossorigin"></script>