{% extends "layouts/layout.njk" %}
{% block customHeadExtras %}
  <link rel="stylesheet" href="/stylesheets/adventure-page.css">
{% endblock %}

{% block header %}
  {% include "adventure/adventure-nav.njk" %}
{% endblock %}