{% extends "layouts/layout.njk" %}
{% block footer %}
  {% include 'footer.njk' %}
  <a href="https://www.louiechristie.com/">
    <figure class="center">
      <img eleventy:ignore="eleventy:ignore" src="/images/qr-code-louiechristie.com.png" width="114" height="114">
        <figcaption>louiechristie.com</figcaption>
      </figure>
    </div>
  </a>
{% endblock %}