{% extends "layouts/layout.njk" %}
{% block footer %}
    {% include "footer.njk" %}
    <ul class="icon-list">
        <li class="icon-link">
            <a href="https://www.louiechristie.com/">
                <figure class="center">
                    <img eleventy:ignore="eleventy:ignore"
                         src="/images/qr-code-louiechristie.com.png"
                         width="114"
                         height="114"
                         alt="QR code with a grimmace in it">
                    <figcaption>louiechristie.com</figcaption>
                </figure>
            </a>
        </li>
        <li class="icon-link">
            <svg style="width:24px;
                        height:24px;
                        margin-bottom: -6px"
                 viewbox="0 0 24 24">
                <a href="tel:+447733507066">
                    <title>Post icon</title>
                    <path fill="grey" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                    <metadata>
                    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:schema="http://schema.org/">
                    <rdf:Description rdf:about="https://cdn.jsdelivr.net/npm/@mdi/svg@4/svg/email.svg">
                    <schema:license rdf:resource="http://scripts.sil.org/OFL" />
                    </rdf:Description>
                    </rdf:RDF>
                    </metadata>
                </a>
            </svg>
            Post: Louie Christie Ltd, 20 Wenlock Road, LONDON, United Kingdom. N1 7GU
            <br>
            Registered company number: 15411409
        </li>
    </ul>
{% endblock footer %}
